{% extends 'home.html' %}
{% load static %}
{% block content %}

<div class="max-w-screen-xl m-0 sm:m-10 bg-white shadow sm:rounded-lg flex-row justify-center flex-1">
    {% include 'user_navbar.html' %}
    <div class="lg:flex">
        <div>
            <img src="data:image/png;base64,{{ data1 }}" alt="" height="500" width="500"/>
        </div>
        <div>
            <img src="data:image/png;base64,{{ data2 }}" alt="" height="500" width="500"/>
        </div>
    </div>
  
</div>
{% endblock %}