{% extends 'home.html' %}
{% load static %}
{% block content %}

<div class="max-w-screen-xl m-0 sm:m-10 bg-white shadow sm:rounded-lg  justify-center flex-1">
    <div>
        <Span class="underline mt-1"><a class="nav-link active" aria-current="page" href="{% url 'users:user-home' %}">Home</a></Span>
    </div>
    <form action="#" method="POST" class="w-1/4">
        {% csrf_token %}
        {{ form.as_p }}    
           
        <button type="submit"
            class="mt-5 tracking-wide font-semibold bg-indigo-500 text-gray-100 w-full py-4 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none">
            <span class="ml-3">
                {% if object %} Update {% else %} Create {% endif %}
            </span>
        </button>
        
    </form>
</div>
{% endblock %}