{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Expense Tracker{% endblock %}</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
        <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" type="text/css" />
    </head>
    <body>

    <div class="min-h-screen bg-gray-100 text-gray-900 flex justify-center">
        {% block content %}{% endblock %}
    </div>
    </body>
</html>